html, body {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  margin: 10px;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 16pt;
}
.word {
  width: 100%;
  font-size: 70pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 50vh;
}
.pronounciation {
  width: 100%;
  font-size: 20pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 10vh;
}
footer {
  width: 100%;
  position: relative;
}
button {
  display: block;
  font-size: 20pt;
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px;
  background: none;
}
footer button {
  position: absolute;
  display: block;
  width: 48%;
}
button.left {
  left: 0;
  color: red;
  border-color: red;
}
button.right {
  right: 0;
  color: green;
  border-color: green;
}
@media (max-device-width: 480px) {
  .word {
    font-size: 110pt;
  }
  .pronounciation {
    font-size: 40pt;
  }
  button {
    font-size: 40pt;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
