html, body {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  margin: 10px;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 16pt;
}
.word {
  width: 100%;
  font-size: 70pt;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 50px;
  height: 40vh;
}
.pronounciation {
  width: 100%;
  font-size: 20pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 10vh;
}
footer {
  width: 100%;
  position: relative;
}
button {
  display: block;
  font-size: 20pt;
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px;
  background: none;
}
footer button {
  position: absolute;
  display: block;
  width: 48%;
}
button.left {
  left: 0;
  color: red;
  border-color: red;
}
button.right {
  right: 0;
  color: green;
  border-color: green;
}
button.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
nav.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  background-color: white;
  z-index: 20;
  transform: translateX(-250px);
}
nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
nav.menu li {
  display: block;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: blue;
}
@media (max-device-width: 480px) {
  .word {
    font-size: 110pt;
  }
  .pronounciation {
    font-size: 40pt;
  }
  button {
    font-size: 40pt;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 150px;
  }
  nav.menu {
    width: 100%;
    transform: translateX(-100%);
  }
  nav li {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  nav a {
    font-size: 60pt;
  }
}
